@tailwind base;
@tailwind components;
@tailwind utilities;

.DropdownButton{
    background-color: #fA7400;
}

.debug{
    border: 1px solid red
}
.DropdownButton:hover{
    background-color: #fA7400;
}